<!DOCTYPE html>
<html>
<head>
    <title>access</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<h1><%= result.length %></h1>

<form action="/users" method="POST"><input type="tel" placeholder="10 digit mobile no." required minlength="10" maxlength="10" name="mob">
<table>
    <%  for(var i=1;i<result.length;i++){ %> <tr><td><%= result[i].name %></td><td><%= result[i].address %></td><td><button type="submit" name="submit" value="<%= result[i].id %>"></button></td></tr><%}%>

</table></form>
</body>
</html>
