<% for(var i=0;i<data.length;i++) { %>
		<tr><td>
		<%= data[i].company  %>	<%= data[i].cp  %>	<%= data[i].loc  %>	
		<%= data[i].mob  %>	<%= data[i].amob  %>	<%= data[i].email  %>	<%= data[i].state  %>	
		<%= data[i].type   %>	<%= data[i].web  %>
			      
		</td> 
         </tr>   
			<% } %>