<% include admin/aheader %>
<table>
<% for(var i=0;i<data.length;i++) { %>
		<tr><td>
		<%= data[i].equip_id %> <%= data[i].ename %>   <%= data[i].ecompany %> <%= data[i].emake %> <%= data[i].ecapacity %> <%= data[i].elocation%>
		</td> 
         </tr>   
			<% } %>
</table>			